{% extends 'base.twig' %}

{% block content %}

<div class="grid content">
<p class="my-mission grid-wide">Hej, jestem Michał i jestem twórcą stron internetowych. Pomagam ludziom zaistnieć online poprzez <strong>tworzenie estetycznych i&nbsp;szybkich</strong> stron internetowych.</p>
<a class="main-cta button is-primary is-large" href="/kontakt" aria-label="Przejdź do kontaktu">Napisz do mnie!</a>

<hr class="wp-block-separator"/>
<p class="last-post-title">Najnowszy wpis na blogu</p>

<a class="last-post" href="{{lastPost.path}}">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="{{lastPost.thumbnail.src('medium')}}" alt="{{lastPost.thubnail.alt}}">
            </div>
            <div class="column">
                <span class="tag is-info">{{lastPost.category}}</span>
                <h3 class="last-post-title">{{lastPost.title}}</h3>
            </div>
        </div>
    </div>
</a>

<hr class="wp-block-separator"/>
<section class="projects grid-wide">
<p class="title">Wybrane projekty</p>
<div class="projects-grid">
    {% for project in projects %}
    <a href="{{project.meta('project-url')}}"  aria-label="Zobacz wykonanie projektu {{project.title}}">
        <div class="project" style="background-image: linear-gradient(to top,{{project.main_color}} 30%, #fff);">
        <header class="project__text">
            <h3 class="project-title">{{ project.title}}</h3>
            <p class="what-i-did">{{project.subtitle}}</p>
            </header>
            <div class="project__background" style="background-image:url({{Image(project.meta('featured_image')).src('grid-wide')}})"></div>
        </div>
    </a>
    {% endfor %}
</div> {# projects-grid #}
</section>
</div> {# grid #}

{% endblock %}