{% extends "base.twig" %}

{% block content %}

		<article class="post-type-{{ post.post_type }} content" id="post-{{ post.ID }}">
			<section class="article-content grid">
				<img src="{{ post.thumbnail.src('fullwidth') }}" class="grid-wide">
				<h1 class="article-h1">{{ post.title }}</h1>
				{#<a href="{{ post.link }}">{{ _e('Edytuj') }}</a>#}
				{#<p class="blog-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
				</p>#}
				<p class="last-updated">Data ostatniej aktualizacji: {{post.post_modified|date('j F Y')}}</p>
				<hr>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			<!-- comment box -->
			<section class="comment-box grid">
				<!-- comments -->
				<div class="comments">
				{{fn('comments_template')}}
				    {#{% if post.comments %}
					<h3>Komentarze</h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p>Komentarze dla tego wpisu zostały wyłączone</p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}#}
			</section>
		</article>
{% endblock %}
